p {
    text-align: center;
}

#passDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select {
    padding: 1em;
    font-size: 1.5em;
}

a {
    display: block;
    text-align: center;
}

button {
    margin: 1em;
}

#buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}