body a {
    display: block;
    text-align: center;
}

/* imagen.html */

#dlLogo {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* stickers.html */

#titleStickers {
    text-align: center;
}

#divStickers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticker img {
    height: 400px;
    width: 400px;
}

#btnTotal {
    display: block;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

#total {
    text-align: center;
}

/* password.html */

#titlePassword {
    text-align: center;
}

#btnPassword {
    display: block;
    margin: 1em auto;
}

#divPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#divPassword * {
    height: 4em;
    width: 4em;
    font-size-adjust: 1;
}

#password {
    text-align: center;
}